<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hannah Li">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>

<body>
    <header>
        <h1>
            Exhibitions
        </h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class = "main">
        <h2>Exhibition 1: Black / White / Infinite </h2>
        <p>This exhibition focused on the historical and contemporary use of black and white in visual art. Works ranged from minimalist canvas paintings to large-scale installations and photography, highlighting how artists use contrast and absence of color to explore themes of space, identity, and perception.</p>
        <h2>Exhibition 2: Blue Silence </h2>
        <p><i>Blue Silence</i> examined the emotional and psychological impact of the color blue in monochrome works. Artists from around the world contributed paintings, light installations, and digital pieces that used subtle tonal shifts to evoke calm, isolation, and reflection.</p>
       
       
        <a href="tickets.html">Buy Tickets</a>
    </div>

    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>