<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hannah Li">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>MonoMuse</title>
</head>

<body>
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a id="cta"href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class = "main">
        <img src = "../static/monomuse.png" alt = "MonoMuse Museum Image" style width = "50%">
        <h2>Mission Statement</h2>
        <p>MonoMuse is dedicated to exploring the power, beauty, and expressive depth of monochrome art. Through thoughtfully curated exhibitions, educational programs, and immersive experiences, the museum invites visitors to discover how a single color palette can reveal complexity, emotion, and innovation across artistic disciplines. MonoMuse strives to inspire curiosity, encourage creative dialogue, and make contemporary and historical monochrome art accessible to diverse audiences.</p>
        <h2>Milestones</h2>
        <ul>
            <li><b>March 12, 2016 — Founding Concept:</b> The idea for MonoMuse is first proposed by a group of curators and artists interested in creating a museum dedicated exclusively to monochrome art and minimalist visual expression.</li>
            <li><b>July 8, 2020 — Construction and Collection Development:</b> After several years of fundraising, design, and construction, the MonoMuse building is completed. Curators install the museum’s first large-scale exhibition featuring monochrome works in painting, sculpture, and digital media.</li>
            <li><b>May 21, 2025 — Major Expansion & Global Artist Residency Launch:</b> MonoMuse celebrates nearly a decade of activity by launching an international monochrome artist residency program and opening additional gallery space dedicated to experimental monochrome installations.</li>
        </ul>
    </div>

    <footer>
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>