<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hannah Li">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>

<body onload = "addYear();">
    <div class = "container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a id="cta" href="buytickets.html">Buy Tickets</a>
        </nav>

        <main class = "main">
            <h2>Exhibition 1: Black / White / Infinite </h2>
            <p>This exhibition focused on the historical and contemporary use of black and white in visual art. Works ranged from minimalist canvas paintings to large-scale installations and photography, highlighting how artists use contrast and absence of color to explore themes of space, identity, and perception.</p>
            <h2>Exhibition 2: Blue Silence </h2>
            <p><i>Blue Silence</i> examined the emotional and psychological impact of the color blue in monochrome works. Artists from around the world contributed paintings, light installations, and digital pieces that used subtle tonal shifts to evoke calm, isolation, and reflection.</p>
        
        
            <a href="buytickets.html">Buy Tickets</a>
        </main>

        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>